apiVersion: v1
kind: Service
metadata:
  name: voting-app
spec:
  type: ClusterIP
  selector:
    app: voting-app
  ports:
    - name: app
      port: 3000        # Service port
      targetPort: 3000  # Container port
