apiVersion: v1
kind: Service
metadata:
  name: voting-app
  namespace: voting-app
spec:
  type: ClusterIP
  selector:
    app: voting-app
  ports:
    - name: app
      port: 8080        # Service port
      targetPort: 8080  # Container port
